# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs.
# https://editorconfig.org

root = true

# All files configuration
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Markdown file specifications
[*.md]
trim_trailing_whitespace = false

# Build/Configuration files
[{package.json,babel.config.json}]
indent_style = space
indent_size = 2
